## Data 전처리

### 기업 통일

2016년을 기준으로 2017,2018,2019의 기업을 통일 시킬 것이다.

2016년 이후 신규 창립기업은 모델 학습, 테스트에 사용하지 않을 것이며, 파산기업은 파산한 시점부터 모든 값들을 0으로 처리한다.

In [1]:
import pandas as pd
import numpy as np

In [2]:
standard_data = pd.read_excel('C:/Users/JSLee/Desktop/KYU/2017.01.xlsx', encoding= "utf-8")

In [3]:
standard_data.head()

,Code,회사명,업종\n(대),업종\n(소),코스피코스닥,주가\n(원),시가총액\n(억),1일\n등락률\n(%),5일\n등락률\n(%),20일\n등락률\n(%),...,16년 3Q.2,16년 4Q(E).2,17년 1Q(E).2,16년4Q \n매출액,16년4Q \n영업이익,16년4Q \n순이익,16년4Q \n매출액.1,16년4Q \n영업이익.1,16년4Q \n순이익.1,16년4Q \n순이익.2
0,A005930,삼성전자,반도체 관련장비 및 부품,종합 반도체,코스피,1833000,2578652,-2.135611,-1.504567,2.230898,...,44087.90,64474.315237,66685.180236,530000.0,92000.0,NaN,521120.451352,83715.404235,64474.315237,64474.315237
1,A000660,SK하이닉스,반도체 관련장비 및 부품,종합 반도체,코스피,49300,358905,-1.988072,-0.504541,6.250000,...,5967.74,10690.789385,12736.206023,NaN,NaN,NaN,51332.259150,14568.549707,10690.789385,10690.789385
2,A005380,현대차,자동차 및 관련부품,완성차,코스피,150500,331516,1.006711,0.000000,7.885305,...,10614.40,13513.247779,14784.204410,NaN,NaN,NaN,247224.041550,13353.916707,13513.247779,13513.247779
3,A015760,한국전력,유틸리티,전력,코스피,44400,285032,-0.448430,2.896871,-3.687636,...,29133.61,13654.365561,17147.707040,NaN,NaN,NaN,147316.591167,24639.338148,13654.365561,13654.365561
4,A035420,NAVER,IT서비스,인터넷서비스,코스피,794000,261724,0.506329,1.925546,-1.488834,...,1945.48,2117.854524,2221.450690,NaN,NaN,NaN,10916.344137,3030.094202,2117.854524,2117.854524

In [4]:
test_data = pd.read_excel('C:/Users/JSLee/Desktop/KYU/2019.06.xlsx', encoding= "utf-8")

In [5]:
test_data.head()

,Code,회사명,업종\n(대),업종\n(소),코스피코스닥,주가\n(원),시가총액\n(억),상장주식수\n(만주),자사주\n(만주),자사주\n비중\n(%),...,19년 1Q.2,19년 2Q(E).2,19년 3Q(E).2,19년2Q \n매출액,19년2Q \n영업이익,19년2Q \n순이익,19년2Q \n매출액.1,19년2Q \n영업이익.1,19년2Q \n순이익.1,19년2Q \n순이익.2
0,A005930,삼성전자,반도체 관련장비 및 부품,종합 반도체,코스피,43900,2620735,596978.0,0,0.0,...,51075,48994.0,55310.0,NaN,NaN,NaN,542996.0,60531.0,48994.0,48994.0
1,A000660,SK하이닉스,반도체 관련장비 및 부품,종합 반도체,코스피,63700,463738,72800.0,4400,6.0,...,11028,6135.0,5005.0,NaN,NaN,NaN,64754.0,7557.0,6135.0,6135.0
2,A051910,LG화학,화학,종합 화학,코스피,348500,246014,7059.0,165,2.3,...,1945,2712.0,3406.0,NaN,NaN,NaN,76135.0,3991.0,2712.0,2712.0
3,A005380,현대차,자동차 및 관련부품,완성차,코스피,140000,299135,21367.0,939,4.4,...,8295,9854.0,9019.0,NaN,NaN,NaN,262152.0,11089.0,9854.0,9854.0
4,A068270,셀트리온,제약 및 바이오,바이오,코스피,205000,263075,12833.0,85,0.7,...,639,839.0,1155.0,NaN,NaN,NaN,2680.0,995.0,839.0,839.0

In [6]:
type(test_data['Code'])

pandas.core.series.Series

In [7]:
standard_bis = set(standard_data['Code'])

In [8]:
test_bis = set(test_data['Code'])

In [9]:
test_bis - standard_bis

{'A002800',
 'A003380',
 'A006620',
 'A007680',
 'A010400',
 'A016790',
 'A018250',
 'A027360',
 'A037030',
 'A042000',
 'A053580',
 'A055490',
 'A063760',
 'A064510',
 'A066360',
 'A079440',
 'A080720',
 'A083500',
 'A086820',
 'A087260',
 'A089970',
 'A091810',
 'A091990',
 'A092780',
 'A099750',
 'A100590',
 'A100790',
 'A104620',
 'A108490',
 'A110020',
 'A110790',
 'A110990',
 'A111110',
 'A111710',
 'A117730',
 'A118990',
 'A122310',
 'A125210',
 'A128540',
 'A138580',
 'A140070',
 'A140670',
 'A145720',
 'A148140',
 'A153710',
 'A154030',
 'A161580',
 'A166090',
 'A171090',
 'A173130',
 'A174900',
 'A175250',
 'A178320',
 'A179290',
 'A179900',
 'A181340',
 'A183300',
 'A183490',
 'A187870',
 'A192650',
 'A194700',
 'A197140',
 'A204020',
 'A206650',
 'A208340',
 'A217330',
 'A217480',
 'A219420',
 'A219750',
 'A225190',
 'A226400',
 'A226950',
 'A227100',
 'A227610',
 'A228760',
 'A234100',
 'A234300',
 'A238200',
 'A238490',
 'A241770',
 'A241820',
 'A243840',
 'A245620',
 'A246710',
 'A246720',
 'A246960',
 'A247540',
 'A250000',
 'A251270',
 'A251370',
 'A251630',
 'A253450',
 'A253590',
 'A255220',
 'A255440',
 'A256630',
 'A256840',
 'A256940',
 'A257370',
 'A257730',
 'A258610',
 'A258790',
 'A258830',
 'A259630',
 'A260660',
 'A260930',
 'A261200',
 'A262830',
 'A263020',
 'A263050',
 'A263540',
 'A263600',
 'A263690',
 'A263700',
 'A263720',
 'A263750',
 'A263770',
 'A263800',
 'A263810',
 'A263860',
 'A263920',
 'A264290',
 'A264450',
 'A264660',
 'A264850',
 'A264900',
 'A265480',
 'A265520',
 'A265560',
 'A265920',
 'A267250',
 'A267260',
 'A267270',
 'A267290',
 'A267320',
 'A267790',
 'A267850',
 'A267980',
 'A268280',
 'A268600',
 'A269620',
 'A270520',
 'A270870',
 'A271560',
 'A271740',
 'A271980',
 'A272290',
 'A272450',
 'A272550',
 'A273060',
 'A275630',
 'A276920',
 'A277070',
 'A277410',
 'A277480',
 'A278280',
 'A279410',
 'A280360',
 'A281410',
 'A281740',
 'A281820',
 'A282330',
 'A282690',
 'A284620',
 'A284740',
 'A285130',
 'A285490',
 'A286940',
 'A287410',
 'A288620',
 'A289080',
 'A290120',
 'A290270',
 'A290380',
 'A290550',
 'A290650',
 'A290660',
 'A290670',
 'A290720',
 'A290740',
 'A291210',
 'A291230',
 'A293480',
 'A293580',
 'A294870',
 'A297570',
 'A298000',
 'A298020',
 'A298040',
 'A298050',
 'A298380',
 'A298690',
 'A299170',
 'A299660',
 'A299900',
 'A299910',
 'A300720',
 'A302430',
 'A303030',
 'A306200',
 'A306620',
 'A307070',
 'A307160',
 'A307180',
 'A307280',
 'A307750',
 'A307870',
 'A307950',
 'A309930',
 'A310200',
 'A310840',
 'A310870',
 'A311270',
 'A313750',
 'A316140',
 'A317030',
 'A900310',
 'A900340',
 'A950160',
 'A950170'}

In [22]:
drop_bis = test_bis - standard_bis  #신규 발행 회사 제거
for k in drop_bis:
    id = test_data[test_data['Code']==k].index
    test_data.drop(id,inplace = True)

In [23]:
test_data.head()

,Code,회사명,업종\n(대),업종\n(소),코스피코스닥,주가\n(원),시가총액\n(억),상장주식수\n(만주),자사주\n(만주),자사주\n비중\n(%),...,19년 1Q.2,19년 2Q(E).2,19년 3Q(E).2,19년2Q \n매출액,19년2Q \n영업이익,19년2Q \n순이익,19년2Q \n매출액.1,19년2Q \n영업이익.1,19년2Q \n순이익.1,19년2Q \n순이익.2
0,A005930,삼성전자,반도체 관련장비 및 부품,종합 반도체,코스피,43900,2620735,596978.0,0,0.0,...,51075,48994.0,55310.0,NaN,NaN,NaN,542996.0,60531.0,48994.0,48994.0
1,A000660,SK하이닉스,반도체 관련장비 및 부품,종합 반도체,코스피,63700,463738,72800.0,4400,6.0,...,11028,6135.0,5005.0,NaN,NaN,NaN,64754.0,7557.0,6135.0,6135.0
2,A051910,LG화학,화학,종합 화학,코스피,348500,246014,7059.0,165,2.3,...,1945,2712.0,3406.0,NaN,NaN,NaN,76135.0,3991.0,2712.0,2712.0
3,A005380,현대차,자동차 및 관련부품,완성차,코스피,140000,299135,21367.0,939,4.4,...,8295,9854.0,9019.0,NaN,NaN,NaN,262152.0,11089.0,9854.0,9854.0
4,A068270,셀트리온,제약 및 바이오,바이오,코스피,205000,263075,12833.0,85,0.7,...,639,839.0,1155.0,NaN,NaN,NaN,2680.0,995.0,839.0,839.0

In [25]:
#제대로 기업이 빠졌는지 확인

if 'A002800' in set(test_data['Code']):
    print('Fail..')
else:
    print('Success')

Success

In [26]:
test_data

,Code,회사명,업종\n(대),업종\n(소),코스피코스닥,주가\n(원),시가총액\n(억),상장주식수\n(만주),자사주\n(만주),자사주\n비중\n(%),...,19년 1Q.2,19년 2Q(E).2,19년 3Q(E).2,19년2Q \n매출액,19년2Q \n영업이익,19년2Q \n순이익,19년2Q \n매출액.1,19년2Q \n영업이익.1,19년2Q \n순이익.1,19년2Q \n순이익.2
0,A005930,삼성전자,반도체 관련장비 및 부품,종합 반도체,코스피,43900,2620735,596978.0,0,0.0,...,51075,48994.0,55310.0,NaN,NaN,NaN,542996.0,60531.0,48994.0,48994.0
1,A000660,SK하이닉스,반도체 관련장비 및 부품,종합 반도체,코스피,63700,463738,72800.0,4400,6.0,...,11028,6135.0,5005.0,NaN,NaN,NaN,64754.0,7557.0,6135.0,6135.0
2,A051910,LG화학,화학,종합 화학,코스피,348500,246014,7059.0,165,2.3,...,1945,2712.0,3406.0,NaN,NaN,NaN,76135.0,3991.0,2712.0,2712.0
3,A005380,현대차,자동차 및 관련부품,완성차,코스피,140000,299135,21367.0,939,4.4,...,8295,9854.0,9019.0,NaN,NaN,NaN,262152.0,11089.0,9854.0,9854.0
4,A068270,셀트리온,제약 및 바이오,바이오,코스피,205000,263075,12833.0,85,0.7,...,639,839.0,1155.0,NaN,NaN,NaN,2680.0,995.0,839.0,839.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,A083470,KJ프리텍,IT 장비 및 소재,스마트폰 부품,코스닥,387,96,2481.0,0,0.0,...,-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,A232330,SK3호스팩,금융,스팩,코스닥,2105,76,361.0,0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2092,A030270,에스마크,섬유 및 의류,섬유,코스닥,998,75,752.0,14,1.9,...,-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2101,A065160,에프티이앤이,섬유 및 의류,섬유,코스닥,0,0,NaN,46,NaN,...,-52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2102,A149940,모다,통신,통신장비,코스닥,155,33,2129.0,13,0.6,...,-119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN